body {
    background-image: url('./images/script\ img.jpg');
    background-size: cover;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bolder;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@media only screen and (max-width:100%) {}

* {
    box-sizing: border-box;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
}

h4 {
    font-size: 2rem;
    margin-top: -4rem;
}

.big-text {
    font-size: 4rem;
    line-height: 1;
    margin: 0 2rem;
}